input[type=checkbox].css-checkbox {
                            display:none;
                        }

                        input[type=checkbox].css-checkbox + label.css-label {
                            padding-left:31px;
                            height:26px; 
                            display:inline-block;
                            line-height:26px;
                            background-repeat:no-repeat;
                            background-position: 0 0;
                            font-size:26px;
                            vertical-align:middle;
                            cursor:pointer;

                        }

                        input[type=checkbox].css-checkbox:checked + label.css-label {
                            background-position: 0 -26px;
                        }
                        label.css-label {
                background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_b257b7d8dd1c0c2d68e34bb8ac17c035.png);
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }