     #map-page, #map { width: 100%; height: 100%; padding: 0; }


 .sinborde .ui-btn {
      border: 0px;
      background-color: white !important;
      color: black !important;
    }

    .faded-div {
        background-color: rgba(255,255,255, .15) !important;
    }

    .faded-div .ui-body-inherit {
      background-color: transparent !important;
    }

    .footer{
      border-top: 2px #2c3e50 solid !important;
    }

    .faded-div li {
      border-bottom: 1px solid #0A1B2A !important;
    }

    .ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn {
      border: 0px;
    }

    .ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited {
    background-color: #2c3e50;
    border-color: #0D2E50;
    color: #fff;
    text-shadow: 0 1px 0 #111;
    }

    input[type='checkbox'] {
        -webkit-appearance:none;
        width:24px;
        height:24px;
        background: url('../img/checkoff.png');
    }
    input[type='checkbox']:checked {
        background: url('../img/checkon.png');
    }


.jquibutton:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
  -webkit-tap-highlight-color: transparent; 
  -webkit-appearance:none;
}
.jqibutton:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
  -webkit-tap-highlight-color: transparent; 
  -webkit-appearance:none;
}


ul ul, ol ul, ul ol, ol ol {
  margin-bottom: 0;
}

.ui-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  border: 0;
  max-width: 100%;
  overflow: visible;
  background-color: #2c3e50;
}

#ayuda div { font-size: 12px; }
#ayuda h2 , h3 { font-size: 14px; font-weight: 700; }

#ayuda a { color: #E6E6E6 !important; text-decoration: none; }
